services:
  app:
    build: .
    image: playcatsdemo-app:latest
    restart: unless-stopped
    environment:
      - PORT=3000
    expose:
      - 3000
    networks:
      - webnet

  nginx:
    image: nginx:stable-alpine
    restart: unless-stopped
    ports:
      - 80:80
    volumes:
      - ./nginx-conf/default.conf:/etc/nginx/conf.d/default.conf:ro
    depends_on:
      - app
    networks:
      - webnet

networks:
  webnet:
    driver: bridge
